<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlServerConnection" connectionString="Server=10.6.0.116\sqlexpress;Database=Tests;User Id=testusr;Password=pass@word1;"
	</connectionStrings>
	<appSettings>
		<add key="sqlServerConnection" value="Server=10.6.0.116\sqlexpress;Database=Tests;User Id=testusr;Password=pass@word1;" />
 	</appSettings>
</configuration>
